@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Solway&family=Srisakdi:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #130f40;
  font-family: "Solway", serif !important;
}

.heading a {
  color: #fff;
}

.heading a:hover {
  color: #fff;
  text-decoration: none;
}

#home {
  background-color: #30336b;
  color: #fff;
  height: 100vh;
  font-family: 'Josefin Slab', serif;
  margin-top: 0;
  overflow: hidden;
}

.menu {
  background: #fff;
  color: #130f40;
  font-family: 'Josefin Slab', serif;
  margin-top: 0;
}

.mybtn {
  background-color: #130f40;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 30px;
  margin: 0;
  border-radius: 5px;
}

.mybtn:focus {
  outline: none;
}

.mybtn:active {
  background-color: #d3d3d3;
  color: #130f40;
}

h1 {
  font-family: 'Lobster Two', cursive;
}

h3, h2, h4 {
  font-family: "Srisakdi", cursive !important;
}

h6 {
  font-size: large;
}

.sub-title {
  margin-bottom: 70px;
}

.slidecolor, .img-thumbnail, .list-group-item {
  background-color: #30336b;
  color: #ffffff;
  outline: none;
  border: none;
  position: relative;
  top: 0;
  text-align: center;
}

.slidecolor {
  border-right: 0.5px solid #130f40;
}

.slidecolor a {
  border: 0.4px solid #130f40;
}

@media (min-width: 768px) {
  .slidecolor {
    top: 0 !important;
  }
  .mybtn {
    display: none;
  }
  .fix-nav {
    width: calc(100% - 241px);
    margin-left: 241px;
  }
}

.slidecolor {
  position: fixed;
  width: 241px;
  height: 100vh;
  top: 60px;
  z-index: 99;
  overflow: hidden;
}

.mynav {
  background-color: #130f40;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

.active {
  background-color: #fff !important;
  color: #130f40 !important;
}

.item-img {
  border-radius: 50%;
  width: 15em;
}

.item-img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.557);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.557);
}

.price {
  color: #6a682b;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card {
  width: 13rem;
  height: 18rem;
  border: none;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(37, 36, 36, 0.544);
          box-shadow: 0px 0px 10px 0px rgba(37, 36, 36, 0.544);
  border-radius: 20px;
  overflow: hidden;
  margin: 20px auto;
  padding: 1rem;
}

.card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: -2px 3px 30px 0px rgba(37, 36, 36, 0.544);
          box-shadow: -2px 3px 30px 0px rgba(37, 36, 36, 0.544);
}

.partner {
  background-size: auto;
  width: inherit;
  height: 11rem;
  background-color: #fff;
}

div .partners {
  margin-bottom: 100px;
}

.magicpin {
  border-radius: 20px;
}

.swiggy {
  width: 10rem;
  margin: auto;
}

.shoocal {
  width: 100% !important;
  height: auto;
  margin-top: 80px;
  margin-bottom: 35px;
}

.p-btn {
  color: #130f40;
  background-color: #fff;
  border: 1px solid #130f40;
  margin-top: 0;
}

.p-btn:hover {
  background-color: #30336b;
  color: white;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(37, 36, 36, 0.544);
          box-shadow: 0px 0px 10px 0px rgba(37, 36, 36, 0.544);
}
/*# sourceMappingURL=stylesheet.css.map */