@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Solway&family=Srisakdi:wght@700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #130f40;
  font-family: "Solway", serif !important;
}

.heading a {
  color: #fff;
}

.heading a:hover {
  color: #fff;
  text-decoration: none;
}

#home {
  background-color: #30336b;
  color: #fff;
  height: 100vh;
  margin-top: 0;
  overflow: hidden;
}

.menu {
  background: #fff;
  color: #130f40;
  margin-top: 0;
}

.mybtn {
  background-color: #130f40;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 30px;
  margin: 0;
  border-radius: 5px;
}

.mybtn:focus {
  outline: none;
}

.mybtn:active {
  background-color: #d3d3d3;
  color: #130f40;
}

h1 {
  font-family: 'Lobster Two', cursive;
}

h3, h2, h4 {
  font-family: "Srisakdi", cursive !important;
}

h6 {
  font-size: large;
}

.sub-title {
  margin-bottom: 70px;
}

.slidecolor, .img-thumbnail, .list-group-item {
  background-color: #30336b;
  color: #ffffff;
  outline: none;
  border: none;
  position: relative;
  top: 0;
  text-align: center;
}

.slidecolor {
  border-right: 0.5px solid #130f40;
}

.slidecolor a {
  border: 0.4px solid #130f40;
}

@media (min-width: 768px) {
  .slidecolor {
    top: 0 !important;
  }
  .mybtn {
    display: none;
  }
  .fix-nav {
    width: calc(100% - 241px);
    margin-left: 241px;
  }
}

.slidecolor {
  position: fixed;
  width: 241px;
  height: 100vh;
  top: 60px;
  z-index: 99;
  overflow: hidden;
}

.mynav {
  background-color: #130f40;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

.active {
  background-color: #fff !important;
  color: #130f40 !important;
}

.item-img {
  border-radius: 50%;
  width: 15em;
}

.item-img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.557);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.557);
}

.price {
  color: #6a682b;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card {
  width: 13rem;
  height: 17rem;
  border: none;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(37, 36, 36, 0.544);
          box-shadow: 0px 0px 10px 0px rgba(37, 36, 36, 0.544);
  border-radius: 20px;
  overflow: hidden;
  margin: 20px auto;
  padding: 1rem;
}

.card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: -2px 3px 30px 0px rgba(37, 36, 36, 0.544);
          box-shadow: -2px 3px 30px 0px rgba(37, 36, 36, 0.544);
}

.partner {
  background-size: auto;
  width: inherit;
  height: 11rem;
  background-color: #fff;
}

div .partners {
  margin-bottom: 100px;
}

.magicpin {
  border-radius: 20px;
}

.swiggy {
  width: 10rem;
  margin: auto;
}

.shoocal {
  width: 100% !important;
  height: auto;
  margin-top: 80px;
  margin-bottom: 35px;
}

.p-btn {
  color: #130f40;
  background-color: #fff;
  border: 1px solid #130f40;
  margin-top: 0;
}

.p-btn:hover {
  background-color: #30336b;
  color: white;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(37, 36, 36, 0.544);
          box-shadow: 0px 0px 10px 0px rgba(37, 36, 36, 0.544);
}

#map {
  border: 2px solid #130f40;
  border-radius: 20px;
  height: 400px;
  width: 100%;
  -webkit-box-shadow: 0 0 10px #2020206d;
          box-shadow: 0 0 10px #2020206d;
  margin-bottom: 40px;
}

.location {
  background: #000428;
  background: -webkit-gradient(linear, left top, left bottom, from(#004e92), to(#000428));
  background: linear-gradient(to bottom, #004e92, #000428);
  color: #fff;
  text-align: center;
  vertical-align: middle;
  width: 85%;
  min-height: 160px;
  border: 1px solid #130f40;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 15px #202020e1;
          box-shadow: 0 0 15px #202020e1;
  padding: 5px 20px;
}

.location:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: 0 4px 25px #202020;
          box-shadow: 0 4px 25px #202020;
}

.location h2 {
  margin-top: 30px;
  line-height: 2em;
  text-decoration: underline;
}

#about {
  position: relative;
  overflow: auto;
}

#about .bg-about {
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#about .h-about {
  font-size: 5.5rem;
  position: absolute;
  top: 85px;
  left: 85px;
  color: #fff;
}

#about .p-about {
  font-size: 2rem;
  position: absolute;
  top: 230px;
  bottom: 20px;
  left: 60px;
  right: 30px;
  color: #fff;
  font-weight: 100;
  text-shadow: 0 0 5px #000000;
}

#about .sign {
  position: absolute;
  bottom: 50px;
  right: 30px;
  color: #fff;
  text-shadow: 0 0 5px #000000;
}

#about .tag {
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #fff;
  text-shadow: 0 0 5px #000000;
}

@media (max-width: 768px) {
  .h-about {
    font-size: 1.5rem !important;
    position: absolute;
    top: 40px !important;
    left: 40px !important;
  }
  .p-about {
    font-size: 1rem !important;
    top: 100px !important;
    left: 30px !important;
  }
  .bg-about {
    width: auto !important;
    height: 70vh !important;
  }
}

.number, .social {
  background: #000428;
  background: -webkit-gradient(linear, left top, left bottom, from(#004e92), to(#000428));
  background: linear-gradient(to bottom, #004e92, #000428);
  color: #fff;
  text-align: center;
  vertical-align: middle;
  width: 80%;
  min-height: 160px;
  border: 1px solid #130f40;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 15px #202020e1;
          box-shadow: 0 0 15px #202020e1;
}

.number:hover, .social:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: 0 4px 25px #202020;
          box-shadow: 0 4px 25px #202020;
}

.social i {
  font-size: 1.5rem;
}

.social a {
  color: #fff;
}
/*# sourceMappingURL=stylesheet.css.map */